html,
body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: relative;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 微軟儷黑體, 微軟正黑體, Arial, Helvetica, Verdana, \5FAE\8EDF\6B63\9ED1\9AD4, sans-serif, 微軟儷黑體, 微軟正黑體, Arial, Helvetica, Myriad Pro, Microsoft, bauerbodonistd-roman, Century Gothic, "Asap", Futura, "Lucida Grande", Geneva, Helvetica, "sourcehansans-tc-normal", "sans-serif", Tahoma;
    background-color: #F7F2F7;
    font-size: 18px;
}
p,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
a:link,
a:visited,
a:active {
    color: #220A26;
    text-decoration: none;
}
a {
    transition:0.3s;
}
a:hover {
    transition:0.3s;
    text-decoration: none;
}
img {
    width: 100%;
    border: 0;
}
.img {
    position: relative;
    line-height:0;
    overflow: hidden;
}
.img img {
    width: 100%;
}
a:hover .img_mask {
    background-color: rgba(0, 0, 0, 0.3);
}

input::-ms-clear {
    display: none;
}
/*去除input默認樣式*/
textarea,
text,
select,
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px #ff9398 solid;
}
/*去除 Chrome focus 時外框*/
input:focus {
    outline: 0;
}
textarea:focus {
    outline: 0;
}
select:focus {
    outline: 0;
}
html::-webkit-scrollbar {
    width: 3px;
    background: #000;
}
html::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 0;
    background: #461232;
}
html::-webkit-scrollbar-thumb {
    background: #a44665;
}
h1,h2,h3{padding:0;margin: 0;}

/*list play*/
.list_play {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../images/play_circle.png) no-repeat center center;
    background-size:80px;
}
@media (max-width:1023px) {
    .list_play {
        background: url(../images/play_circle.png) no-repeat center center;
        background-size:30px;
    }
}
/*list play ed*/
/*文字圖片效果*/

.overlay-color {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    line-height: 0;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0);
    transition: 0.3s ;
}

.img:hover .overlay-color,
a:hover .overlay-color {
    background: rgba(0, 0, 0, .3);
    z-index: 1;
    transition: 0.3s ;
}

a:hover,a:hover .txt_box .txt,a:hover .txt p{
    color: #e62320;
    transition:0.3s;
}
/*文字圖片效果 ed*/

/* more*/
.more_box a {
    color:#220A26;
    background: url(../images/navigate_more.svg) no-repeat right;
    padding: 5px 25px 5px 10px;
    background-size:20px;
    display: block;
    float: right;
    font-size: 14px;
    font-weight : 400;
}
.more_box a:hover {
}
/* more ed*/
/* pc & mo */
.pc{display: block;}
.mo{display: none;}
@media (max-width:767px) {
    .pc{display: none;}
    .mo{display: block;}
}
/* pc & mo ed*/
/*--gotoTop--*/

#back {
    text-align: center;
    position: fixed;
    z-index: 2;
    right: 20px;
    bottom: 20px;
    transition: 0.5s;
    display:block;
    cursor: pointer;
    padding: 0;
}

#back-img1 {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0);
    border-radius: 5px;
    display: block;
}

#back-img1 img {
    width: 100%;
}
/*--gotoTop end--*/
/*外框*/
.frame_box {
    width: 1200px;
    margin: 0 auto;  
    box-sizing: border-box;
}
@media (max-width:1199px) {
.frame_box {
    width: 980px;
    margin: 0 auto;
}
}
@media (max-width:1023px) {
.frame_box {
    width:728px;
    margin: 0 auto;
}
}
@media (max-width:767px) {
.frame_box {
    width:414px;
    margin: 0 auto;
    padding:0 15px;
}
}
@media (max-width:414px) {
    .frame_box {
        width:100%;
        margin: 0 auto;        
    }
}
/*外框*/
/* .container{max-width:1920px;margin:0 auto;font-weight: bold;} */
.container{width:100%;margin:0 auto;font-weight: bold;}
@media (max-width:1919px) {
    .container{width:100%;}
}
.flex{display:flex;align-items: center;}
/*header*/
header{position: relative;}
.header_view{
    margin-top:77px;
    width:100%;
    background-color:#461232;
}
.menu_fixed.act{width:100%;height:100vh;}
.menu_fixed .clear{width:100%;height:100vh;background-color:rgba(0,0,0,0.8);display:none;position:absolute;z-index:-1;}
.menu_fixed{position:fixed;top:0;left:0;z-index:100;width:100%;box-sizing: border-box;}
.menu_bar{padding:15px 0;width:100%;margin:0 auto;background-color:#461232;}
/* .menu_bar{padding:15px 0;max-width:1920px;margin:0 auto;background-color:#461232;} */
.menu_bar p{color:#fff;display:none;}
@media (max-width:1919px) {
    .menu_bar{width:100%;}
}
.menu_bar .frame_box.flex{justify-content:space-between;}
.menu_bar .logo{width:90px;height:47px;}
.menu_bar .menu{}
.menu_bar .menu li{margin-right:20px;}
.menu_bar .menu li a{color: #B87486;font-size:20px;}
.menu_bar .menu li a:hover,.menu_bar .menu li.act a{color: #E8E6D9;}
.menu_bar .menu li:last-child{margin-right:0;}

.menu_bar .community ul{}
.menu_bar .community li{width:35px;height:35px;margin-right:15px;}
.menu_bar .community li:last-child{margin-right:0;}
.menu_bar .menu::-webkit-scrollbar {width:0;height:0;}
@media (max-width:1199px){
    .menu_bar .menu{width:80%;overflow-x:auto;margin:0 20px;}
    .menu_bar .menu ul{white-space: nowrap;}
    .menu_bar .menu li a{color: #B87486;font-size:18px;}
    .menu_bar .community li{width:30px;height:30px;margin-right:10px;}
}
@media (max-width:767px){
    .header_view{margin-top:95px;}
    .menu_bar .frame_box.flex{justify-content:flex-start;}    
    .menu_bar{padding:10px 0;}
    .menu_bar .logo{width:60px;height:31px;margin-right:40px;}
    .menu_bar p{display:block;font-size:24px;color:#E8E6D9;}
    .menu_bar .community{display:none;}
    .menu_bar .menu{display:none;}

    .menu.mo{background-color:#461232;padding:6px 0;border-top:#673b57 1px solid;}    
    .menu.mo .ham{width:30px;height:30px;}
    .menu.mo .frame_box{position: relative;}
    .menu.mo .list{width:90%;overflow-x:auto;display:flex;margin-right:10px;}
    .menu.mo .list::-webkit-scrollbar {width:0px;height:0;}
    .menu.mo .list ul{white-space: nowrap;display:flex;text-align:justify;}
    .menu.mo .list li{margin-right:15px;position:relative;}
    .menu.mo .list li a{color: #B87486;font-size:18px;}
    .menu.mo .list li a:hover,.menu.mo .list li.act a{color: #E8E6D9;}
    .menu.mo .list li:last-child{margin-right:0;} 
    .menu.mo .list li.fb{display:none;width:80px;}  
    .menu.mo .list li.fb .img{position:absolute;display:flex;bottom:-6px;}  
    .menu.mo .list li.fb a{width:30px;height:30px;margin-right:15px;}
    .menu.mo .list li.fb{display:none;margin-bottom:0px;}   
}
@media (max-width:374px){    
    .menu_bar p {font-size: 20px;}
}
@media (max-width:359px){    
    .menu.mo .list li.fb .img {bottom: -2px;} 
}
/* 快訊 */
.good_box{font-size:18px;align-items: center;background-color:#E8E6D9;padding:10px 0;}
.good_box .title{
    width: 70px;height: 27px;
    background-color: #DA2F5A;
    text-align: center;
    color: #fff;
    letter-spacing: 5px;margin-right: 16px;
    -webkit-clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
}
.good_box .title.flex{justify-content:center;}
.good_box .title p{color:#fff;}
.good_box .txt_box{width:90%;height:25px;white-space:nowrap;overflow: hidden;color:#220A26;font-size: 20px;font-weight: 500;}
.good_box .txt{white-space:nowrap;overflow: hidden;text-overflow: ellipsis;}
.good_box .txt_box.owl-theme .owl-controls{display:none;}
@media (max-width:767px){
    .good_box{font-size:16px;padding:8px 0;}
}
/* 快訊 ed*/
/*header ed*/
/*main*/
/* 內文區塊 */
.section {margin-bottom: 30px;}
.section:last-child {margin-bottom:0px;}
.section .title{    
   width:100%;
   text-align: center;
   margin: 30px 0;
   margin-top: 60px;
}
.section:nth-child(1) .title{
    margin-top: 40px;
}
.section .title p,.play_more .title p,.section .title h2,.play_more .title h2{
    width:220px;
    font-size: 28px;
    display:inline-block;margin: 0;color:#7C174D;
    background: url(../images/title_bg.svg) center bottom no-repeat;
}

/* 首頁 */
/* 最新賽程 */
.section .schedule{}
.section .schedule ul{}
.section .schedule li{
    width: calc((100% - 95px)/4);
    margin-right: 25px;
    background-color:#FFFFFF;    
}
.section .schedule .head.flex{ align-items:flex-start;}
.section .schedule li:last-child{margin-right:0;}
.section .schedule .head{
    position: relative;
    font-size: 16px;
    font-weight:bold;
    padding:10px;
    background-color:#E8E6D9;
}
.section .schedule .head p{width:60px;color:#4E483A;position:absolute;}
.section .schedule .head .time{text-align:center;width:120px;color:#4E483A;font-size:16px;font-weight:400;margin:0 auto;}
.section .schedule .txt_box{padding:15px 5px 10px;text-align: center;font-size: 16px;font-weight: 500;color:#4E483A;}
.section .schedule .txt_box.flex{justify-content:center;}
.section .schedule .txt_box .team_img{width:80px;font-size:12px;font-weight: 500;color:#4E483A;}
.section .schedule .txt_box .team_img img{width:100%;}
.section .schedule .score_box{margin:0 10px;}
.section .schedule .score_box .score{
    width:30px;height:30px;display:flex;align-items:center;justify-content: center;
    background-color:#E8E6D9;
    margin-right:10px;
}
.section .schedule .score_box .score:last-child{margin-right:0;}
.section .schedule .pk_box{margin-top:5px;}
.section .schedule .pk_box .pk1,.section .schedule .pk_box .pk1{width:30px;height:30px;}
@media (max-width:1199px){    
    .section .schedule ul {
        flex-wrap:wrap;
    }
    .section .schedule li {
        width: calc((100% - 15px)/2);
        background-color: #FFFFFF;
        margin-bottom: 15px;
        margin-right: 15px;
    }
    .section .schedule .txt_box.flex{padding:20px;justify-content:space-between;}
    .section .schedule li:last-child{margin-right:15px;}
    .section .schedule li:nth-child(2n){margin-right:0;}
}
@media (max-width:767px){
    .section .title{margin: 20px 0;}
    .section .schedule li {
        width:100%;
        background-color: #FFFFFF;
        margin-bottom: 20px;
    }
    .section .schedule li{margin-right:0;}
    .section .schedule li:last-child{margin-bottom: 0;}

}
/* 主視覺*/
.section li{list-style:none;}
.section .vision{width:1060px;margin:0 auto 30px;}
.section .vision li{position:relative;}
.section .vision .img{line-height:0;position:relative;width:100%;height:596px;}
.section .vision h2{font-weight:500;margin: 0;}
.section .vision .txt{
width:100%;color:#fff;overflow:hidden;line-height:normal;text-align:center;padding:10px 16px 10px 16px; 
position:absolute;bottom:0;z-index:1;font-size:26px;
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 35%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 35%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 35%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */	
}
.section .vision .txt h1{
width:90%;white-space:nowrap;
display:inline-block;overflow:hidden;text-overflow: ellipsis;
font-size: 30px;font-weight: normal;
}
.section .vision .txt p{
width:90%;white-space:nowrap;
display:inline-block;overflow:hidden;text-overflow: ellipsis;
margin: 0 16px;
}
@media (max-width:1024px){
.section .vision .txt h1{
font-size: 24px;}
}
@media (max-width:767px){
.section .vision .txt h1{
font-size: 20px;}
}
/* 外掛修改 */
.section .vision .owl-theme .owl-controls .owl-nav div{
	margin:0 !important;
	padding:0 !important;
	-webkit-border-radius:0px !important;
	-moz-border-radius:0px !important;
	border-radius:0px !important;
}


.owl-prev:hover,.owl-next:hover{opacity:1;}
.section .vision .owl-theme .owl-dots .owl-dot.active span{background: #027DF1;opacity:1;}
.section .vision .owl-theme .owl-dots .owl-dot span{background: #CCCCCC;opacity:1;}

.section .vision .owl-theme .owl-dots {
    margin-top:5px;
}
.section .vision  .owl-next,.section .vision  .owl-prev{   
    width: 60px !important;
    height: 60px !important;
    position: absolute;
    background-repeat: no-repeat !important;
    background-color: rgba(124,23,44,0.8) !important;
    top:45% !important;
}
.section .vision .owl-next{right:0!important;background: url(../images/navigate_next.svg) center center no-repeat!important;background-color: rgba(124,23,44,0.8) !important;background-size:80% !important;}
.section .vision .owl-prev{left:0!important;background: url(../images/navigate_before.svg) center center no-repeat!important;background-color: rgba(124,23,44,0.8) !important;background-size:80% !important;}
.section .vision .owl-dots{display:none!important;}
/* 外掛修改 ed */
@media (max-width:1199px){
.section .vision{width:100%;margin:0 auto 30px;}    
.section .vision .img{height:534px;}
.section .vision .txt{font-size: 24px;}
.section .vision .owl-prev,.section .vision .owl-next{width:50px!important;height: 50px !important;}
}
@media (max-width:1023px){
.section .vision .img{height:392px;}	
}
@media (max-width:767px){
.section .vision .txt{font-size:20px;}	
.section .vision .img{height:216px;}	
.section .vision .owl-prev,.section .vision .owl-next{top:45% !important;width:30px!important;height: 30px !important;}
}
@media (max-width:431px){
.section .vision .vision .img{height:216px;}
}
@media (max-width:412px){
.section .vision .img{height:194px;}
}
@media (max-width:374px){
.section .vision .owl-prev,.section .vision .owl-next{top:40% !important;}
.section .vision .img{height:186px;}	
}
@media (max-width:359px){
.section .vision .img{height:163px;}	
}
/* 主視覺ed*/
/* 各組賽況 */
.section .team_icon{margin-bottom: 30px;}
.section .team_icon ul{justify-content: space-between;}
.section .team_icon li a{
    font-size:20px;
    color:#B87486;padding:6px 24px;
    border: 1px solid #B87486;
    border-radius: 30px;    
}
.section .team_icon li .index_group_active{
    border: 1px solid #F1DDDE;
    background-color:#F1DDDE;
}
.section .team_icon li a.act,.section .team_icon li a:hover{
    border: 1px solid #F1DDDE;
    background-color:#F1DDDE;
}
@media (max-width:767px){
    .section .team_icon{margin-bottom:0px;}
    .section .team_icon ul{
        flex-wrap: wrap;
        justify-content:center;
    }
    .section .team_icon li{
        width: calc((100%)/4);
        margin-bottom: 20px;
        text-align: center;
    }
    .section .team_icon li a{
        font-size:20px;
        color:#B87486;padding:3px 20px;
        border: 1px solid #B87486;
        border-radius: 30px;    
    }
}
@media (max-width:411px){
    .section .team_icon li a{
        font-size:18px;
        color:#B87486;padding:3px 20px;
        border: 1px solid #B87486;
        border-radius: 30px;    
    }
}
@media (max-width:359px){
    .section .team_icon li a{font-size:16px;padding:3px 15px;}
}
.section .team_list{color:#4E483A;}
.section .team_list.flex{align-items: flex-start;margin-bottom:15px;}
.section .team_list ul{flex-wrap:wrap;}
.section .team_listL{background-color:#fff;}
.section .team_listL .head{
    font-size: 16px; 
    padding:21px 15px 21px 15px;
    background-color:#E8E6D9;
    justify-content:space-between;
}
.section .team_listL  p{text-align: center;width:120px;}
.section .team_listL .list{font-size: 16px;font-weight:bold;}
.section .team_listL .list p{font-weight:500;}
.section .team_listL .list li,.section .team_listL .list .more_box1{padding:15px;overflow: hidden;align-items: center;}
.section .team_listL .list li{display:flex;justify-content:space-between;}
.section .team_listL .num_box{display:flex;font-weight: normal;}
.section .team_listL .box{width:50px;text-align: center;}
.section .team_listL .c1{color:#881735;font-weight:bold;}
.section .team_listR .head p{width:60px;}
.section .team_listL{width:50%;background-color:#FFFFFF;margin-right:15px;}
.section .team_listL .list li{border-bottom: 1px #F1DDDE solid;}
.section .team_listR{width:50%;}
.section .team_listR li{
    width: calc((100% - 20px)/2);
    margin-right: 15px;margin-bottom: 15px;
    background-color:#FFFFFF;
}
.section .team_listR li .txt_box .score_box{
    color:#4E483A;

}
.section .team_listR .head.flex{align-items:flex-start;}
.section .team_listR li:nth-child(2n){margin-right:0;}
.section .team_listR .head{
    position: relative;
    font-size: 16px;
    font-weight:bold;
    padding:10px;
    background-color:#E8E6D9;    
}
.section .team_listR .head p{width:60px;position:absolute;}
.section .team_listR .head .time{
    text-align:center;width:120px;color:#4E483A;font-size:16px;font-weight: 400;
    margin:0 auto;
}
.section .team_listR .txt_box{padding:15px 5px 11.5px;text-align: center;font-size: 14px;}
.section .team_listR .txt_box.flex{justify-content: center;}
.section .team_listR .txt_box .team_img{width:80px;color:#4E483A;font-size:12px;font-weight: 500;}
.section .team_listR .txt_box .team_img img{width:100%;}
.section .team_listR .score_box{margin:0 10px;}
.section .team_listR .score_box .score{
    width:30px;height:30px;display:flex;align-items:center;justify-content: center;
    background-color:#E8E6D9;
    margin-right:10px;
}
.section .team_listR .score_box .score:last-child{margin-right:0;}
.section .team_listR .pk_box{margin-top:5px;}
.section .team_listR .pk_box .pk1,.section ..team_listR .pk_box .pk1{width:30px;height:30px;}
@media (max-width:1199px){
    .section .team_listR .txt_box{padding:15px 15px 11.5px;}
    .section .team_list.flex{margin-bottom: 10px;}
    .section .team_list.flex {
        align-items: flex-start;
        margin-bottom: 10px;
    }
    .section .team_listL{width:40%;}
    .section .team_listR{width:60%;}
}
@media (max-width:1023px){
    .section .team_list.flex{display:block;}
    .section .team_listL{margin-bottom:20px;}
    .section .team_listL,.section .team_listR{width:100%;}
    .section .team_listR .txt_box.flex {justify-content:space-between;}
}
@media (max-width:767px){
    .section .team_list.flex{display:block;}
    .section .team_listL{margin-bottom:20px;}
    .section .team_listL,.section .team_listR{width:100%;}

    .section .team_listR li{
        width:100%;
        margin-right:0;margin-bottom: 15px;
        background-color:#FFFFFF;
    }
    .section .team_listR .txt_box {padding: 20px;}

}
/*更多新聞*/
.section .team_pack {margin-bottom: 30px;overflow: hidden;}
.section .team_pack  {margin-bottom:10px;}
.section .team_pack .time {padding: 0;}
.section .team_pack .img {
    width: 100%;
    height: 156px;
    overflow: hidden;
    line-height: 0;
    margin-bottom:8px;
}

.section .team_pack .txt_box {
    position: relative;
    overflow: hidden;
}

.section .team_pack h2 {
    margin: 0;
    font-weight: bold;
}

.section .team_pack .txt {
    color:#220A26;
    font-size: 20px;
    overflow: hidden;
    height: 50px;
    line-height: 26px;
    margin-bottom: 15px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    display: -webkit-box;
}

.section .team_pack .title {
    font-size: 24px;
    padding: 10px 15px 10px;
    font-weight: bold;
}

.section .team_pack ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.section .team_pack li {
    margin-right:15px;
    width: calc((100% - 50px)/4);
    overflow: hidden;
}

.section .team_pack li a:hover {
    transition: 0.3s;
}

.section .team_pack li:nth-child(4n) {
    margin-right: 0px;
}

@media (max-width:1199px) {
    .section .team_pack .img {
        height: 124px;
    }
    .section .team_pack li {
        margin-right:15px;
        width: calc((100% - 50px)/4);
    }
}

@media (max-width:1023px) {
    .section .team_pack .img {
        height: 91px;
        margin-bottom:5px;
    }
    .section .team_pack .txt {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 5px;
    }
    .section .team_pack li {
        width: calc((100% - 50px)/4);
    }
}

@media (max-width:767px) {
    .section .team_pack .img {
        height: 104px;
        margin-bottom:5px;
    }
    .section .team_pack li {
        width: calc((100% - 15px)/2);
        margin-bottom: 20px;
    }
    .section .team_pack li:nth-child(2n) {
        margin-right: 0px;
    }
    
}

@media (max-width:411px) {
    .section .team_pack .img {
        height: 93px;
    }
}

@media (max-width:374px) {
    .section .team_pack .img {
        height:89px;
    }
}

@media (max-width:359px) {
    .section .team_pack .img {
        height:77px;
    }
    .section .team_pack .article_time {
        font-size: 12px;
    }
}
/* 更多新聞 ed*/
/* 各組賽況ed */

/* 精彩瞬間 */
.section .picture{position:relative;overflow: hidden; width:100%;margin:0 auto 15px;}
.section .picture .img{line-height:0;position:relative;width:100%;height:675px;}
.section .picture h3{font-weight:500;margin: 0;}
.section .picture .txt{
    width:100%;color:#fff;overflow:hidden;line-height:normal;text-align:center;padding:10px 0px 10px 0px; 
    position:absolute;bottom:0;z-index:1;font-size:26px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 35%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 35%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 35%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */	
}
.section .picture .txt h1{
    width:90%;white-space:nowrap;
    display:inline-block;overflow:hidden;text-overflow: ellipsis;
    font-size: 30px;font-weight: normal;
}
.section .picture .txt p{
    width:90%;white-space:nowrap;
    display:inline-block;overflow:hidden;text-overflow: ellipsis;
    margin: 0 16px;
}
@media (max-width:1199px) {
    .section .picture .txt{font-size:24px;}
    .section .picture .img {height:551px;}
}
@media (max-width:1023px) {
    .section .picture .img {height:410px;}
}
@media (max-width:767px) {
    .section .picture .txt{font-size:20px;}
    .section .picture .img {height:auto;}
}
.section .picture_list{overflow: hidden;position: relative;}
.section .picture_list li{  
    overflow: hidden;
}
.section .picture_list .img {
    width: 100%;
    height: 157px;
    overflow: hidden;
}
.section .picture_list li:nth-child(4n){margin-right:0;}

/* 外掛修改 */
.section .picture_list .owl-theme .owl-controls .owl-nav div{
	margin:0 !important;
	padding:0 !important;
	-webkit-border-radius:0px !important;
	-moz-border-radius:0px !important;
	border-radius:0px !important;
}


.owl-prev:hover,.owl-next:hover{opacity:1;}
.section .picture_list .owl-theme .owl-dots .owl-dot.active span{background: #027DF1;opacity:1;}
.section .picture_list .owl-theme .owl-dots .owl-dot span{background: #CCCCCC;opacity:1;}

.section .picture_list .owl-theme .owl-dots {
    margin-top:5px;
}
.section .picture_list  .owl-next,.section .picture_list  .owl-prev{   
    width: 45px !important;
    height: 45px !important;
    position: absolute;
    background-repeat: no-repeat !important;
    background-color: rgba(124,23,44,0.8) !important;
    top:35% !important;
}
.section .picture_list .owl-next{right:0!important;background: url(../images/navigate_next.svg) center center no-repeat!important;background-color: rgba(124,23,44,0.8) !important;background-size:80% !important;}
.section .picture_list .owl-prev{left:0!important;background: url(../images/navigate_before.svg) center center no-repeat!important;background-color: rgba(124,23,44,0.8) !important;background-size:80% !important;}
.section .picture_list .owl-dots{display:none!important;}
@media (max-width:1199px) {
    .section .picture_list .img{
        height: 131px;
    }

}
@media (max-width:767px) {
    .section .picture_list ul{width:120%;}
    .section .picture_list .owl-carousel{position:static!important;}
    .section .picture_list .img{
        height: 125px;
    }
    .section .picture_list  .owl-next,.section .picture_list  .owl-prev{
        width: 30px !important;
        height: 30px !important;   
        top:35% !important;
    }
} 
@media (max-width:411px) {
    .section .picture_list  .owl-next,.section .picture_list  .owl-prev{   
        top:35% !important;
    }
    .section .picture_list .img{
        height: 112px;
    }
} 
@media (max-width:374px) {
    .section .picture_list .img{
        height: 107px;
    }
}
@media (max-width:359px) {
    .section .picture_list .img{
        height: 94px;
    }
}
/* 外掛修改 ed */

/* 精彩瞬間ed */

/* 影音放送 */
.section .fifa_video {margin-bottom: 30px;overflow: hidden;}
.section .fifa_video  {margin-bottom:10px;}
.play{
    display:flex;align-items: center;
    font-size:14px;
    color:#fff;position:absolute; right:12px;bottom:12px;
    /* padding:15px 3px 15px 35px;  */
    padding:18px 1.42px 18px 33.43px; 
    background: url(../images/play_icon.svg) 8px center no-repeat; 
    background-color: rgba(124,23,44,0.6);
}
.play p{margin-right:10px;}
.section .fifa_video .img {
    width: 100%;position: relative;
    height: 210px;
    overflow: hidden;
    line-height: 0;
    margin-bottom:8px;
}
.section .fifa_video .txt_box {
    position: relative;
    overflow: hidden;
}
.section .fifa_video h2 {
    margin: 0;
    font-weight: bold;
}
.section .fifa_video .txt {
    color:#220A26;
    font-size: 20px;
    overflow: hidden;
    height: 50px;
    line-height: 26px;
    margin-bottom: 15px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    display: -webkit-box;
}

.section .fifa_video .title {
    font-size: 24px;
    padding: 10px 15px 10px;
    font-weight: bold;
}

.section .fifa_video ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.section .fifa_video li {
    margin-right:20px;
    width: calc((100% - 40px)/3);
    overflow: hidden;
}

.section .fifa_video li a:hover {
    transition: 0.3s;
}

.section .fifa_video li:nth-child(3n) {
    margin-right: 0px;
}

@media (max-width:1199px) {
    .section .fifa_video .img {height: 176px;}
}

@media (max-width:1023px) {
    .section .fifa_video .img {height: 129px;}
    .section .fifa_video .txt {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 5px;
    }
}

@media (max-width:767px) {
    .section .fifa_video .img {
        height: 216px;
        margin-bottom:5px;
    }
    .section .fifa_video li {
        width:100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    
}
@media (max-width:411px) {
    .section .fifa_video .img {
        height: 194px;
    }
}

@media (max-width:374px) {
    .section .fifa_video .img {
        height:186px;
    }
}

@media (max-width:359px) {
    .section .fifa_video .img {
        height:163px;
    }
    .section .fifa_video .article_time {
        font-size: 12px;
    }
}
/* 影音放送ed*/
/* 首頁 ed*/
/* 賽程預告 */
.schedule_notice{margin-bottom:50px;}
.schedule_notice .nav{background-color:#fff;margin:40px 0 30px;}
.schedule_notice .nav ul{display:flex;align-items:center;justify-content:center;}
.schedule_notice .nav li{}
.schedule_notice .nav h2{font-size:inherit;}
.schedule_notice .nav li a{display:block;font-size:24px;color:#B87486;padding:20px 30px;border-bottom: 3px #fff solid;}
.schedule_notice .nav li a:hover,.schedule_notice .nav li.act a{border-bottom: 3px #7C174D solid;color:#7C174D;}
.schedule_notice .section{background-color:#fff;margin-bottom:15px;}
.schedule_notice .section:last-child{margin-bottom:0;}
.schedule_notice .contest{cursor: pointer;}
.schedule_notice .contest .title{
    box-sizing: border-box;padding:15px 20px;
    display:flex;align-items:center;
    justify-content:space-between;
    border-bottom: 1px #f5e6e8 solid;
    margin:0;box-sizing: border-box;
}
.schedule_notice .contest .title .txt{color:#FF8B17;font-size:24px;padding-left:10px;}
.schedule_notice .contest .title .txt.bg{background: url(../images/title_bg2.svg) 8px center no-repeat;padding:15px 70px 10px 10px;}
.schedule_notice .contest .title .icon{width: 30px;height:30px;}
.schedule_notice .contest .list{color:#4E483A;display: none;font-weight:normal;}
.schedule_notice .contest .list li{border-bottom: 1px #f5e6e8 solid;padding:15px 20px;}
.schedule_notice .contest .list li .box{display:flex;align-items:center;margin-left:10px;position: relative;}
.schedule_notice .contest .list li:last-child{border-bottom: 0px #f5e6e8 solid;}
.schedule_notice .time{font-size:18px;width:130px;position:absolute;}
.schedule_notice .team_box{width:100%;display:flex;align-items:center;justify-content: center;}
.schedule_notice .team_img{display:flex;align-items:center;justify-content:center;}
.schedule_notice .team_img img{width:80px;}
.schedule_notice .team_name{padding:0;width:150px;text-align: center;}
.schedule_notice .score_box .flex{display:flex;align-items:center;justify-content: center;margin-bottom:10px;}

.schedule_notice .score_box{font-weight:normal;}
.schedule_notice .score_box .score{
    width:30px;height:30px;display:flex;align-items:center;justify-content: center;
    background-color:#E8E6D9;
    margin-right:10px;
}
.schedule_notice .score_box .pk_box{font-size: 16px;text-align: center;}
.schedule_notice .score_box .score:last-child{margin-right:0;}
@media (max-width:1199px) {
    .schedule_notice .team_box{width:100%;display:flex;align-items:center;justify-content: center;}
    .schedule_notice .time {       
        font-size: 20px;
        width: 130px;
    }
}
@media (max-width:1023px) {
    .schedule_notice .contest .list li .box {
        display:block;
        margin-left: 0px;
    }
    .schedule_notice .time{position:relative;margin: 0 auto 20px;text-align: center;}
    .schedule_notice .contest .title .txt.bg {        
        padding: 15px 70px 10px 20px;
    }
    .schedule_notice .contest .title .txt {       
        font-size: 20px;
        padding-left: 10px;
    }
    .schedule_notice .team_name{font-size:16px;
        width: 130px;
    }
    .schedule_notice .time {
        font-size: 16px;
        width: 120px;
    }
    .schedule_notice .contest .title {    
        padding: 10px 20px 10px 20px;
    }
    .schedule_notice .contest .list li {
        padding: 10px 20px ;
    }
    .schedule_notice .contest .list li .box {  
        padding:0px;
    }
}
@media (max-width:767px) {
    .schedule_notice .contest .list li {
        padding: 20px;
    }
    .schedule_notice .contest .title {
        padding: 10px;
    }
    .schedule_notice .contest .list li .box {
        display:block;
    }
    .schedule_notice .time {
        text-align: center;
        margin:0 auto 20px;
        font-size: 16px;
        width:120px;
    }
    .schedule_notice .team_name {
        font-size: 12px;
        width:auto;
    }
    .schedule_notice .team_box {
        width:100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .schedule_notice .nav ul{justify-content:space-between;}
    .schedule_notice .nav li a{font-size:20px;padding:22px;}
    .schedule_notice .team_img {
        display:block;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width:411px) {
    .schedule_notice .nav li a{padding:15px;}
}
@media (max-width:359px) {
    .schedule_notice .nav li a{font-size:16px;}
}
/* 賽程預告 ed*/
/* 球隊賽程*/
.schedule_notice .team_tag{background-color:#fff;}
.schedule_notice .team_tag ul{}
.schedule_notice .team_tag li{
    display: flex;align-items: center;
    border-bottom: 1px #f5e6e8 solid;
    padding:15px 30px;box-sizing: border-box;
}

.schedule_notice .team_tag .name{
    font-size: 24px;
    color: #FF8B17;
    margin-right: 24px;
}
.schedule_notice .team_tag .tag{
    display: flex;align-items: center;
}
.schedule_notice .team_tag .tag a{
    font-size:20px;
    color:#B87486;padding:5px 10px;
    border: 1px solid #B87486;
    border-radius: 30px;
    margin-right: 20px;
    font-weight: normal;
}
.schedule_notice .team_tag .tag a.act,.schedule_notice .team_tag .tag a:hover{
    border: 1px solid #F1DDDE;
    background-color:#F1DDDE;
}
.schedule_notice .tag_more{width:100%;padding:5px 0;background-color:#F1DDDE;}
.schedule_notice .tag_more a{display:block;text-align:center;}
.schedule_notice .tag_more p{
    font-weight: normal;
    font-size:20px;
    color:#B87486;
}
.schedule_notice .tag_more a{display:flex;align-items:center;justify-content: center;}
.schedule_notice .tag_more p{margin-right:15px;}
.schedule_notice .tag_more .arraw{
    width:30px;height:30px;
}
.schedule_notice .team_play ul:nth-child(2){display:none;}
.schedule_notice .team_play li{
    color:#4E483A;
    display:flex;align-items:center;
    position: relative;
    border-bottom: 1px #f5e6e8 solid;padding:15px 30px;
}
.schedule_notice .team_play .type_box{position:absolute;display:flex;align-items:center;justify-content: center;}
.schedule_notice .team_play .type1,.schedule_notice .team_play .time1{font-size: 20px;}
.schedule_notice .team_play .type1{margin-right: 50px;}
.schedule_notice .team_play .time1{width: 130px;font-weight: normal;}
.schedule_notice .team_play .team_box{width:100%;font-weight: normal;}
@media (max-width:1199px) {
    .schedule_notice .team_play .type_box{position:relative;margin-bottom: 30px;}
    .schedule_notice .team_play .type1{position:absolute;margin-right:0;left:0;}
    .schedule_notice .team_play .time1{text-align: center;}
    .schedule_notice .team_play li{display:block;}
    
}
@media (max-width:1023px) {
    .schedule_notice .team_tag .name {
        font-size: 20px;        
    }
    .schedule_notice .team_tag .tag a {
        font-size: 16px;
        padding: 3px 10px;
        margin-right: 10px;
    }
    .schedule_notice .score_box .flex {margin-bottom: 5px;}
    .schedule_notice .team_play .time {width: 100px;}
    .schedule_notice .team_play li{padding:15px 20px;}
    .schedule_notice .team_play .type1, .schedule_notice .team_play .time1 {font-size: 16px;}
}
@media (max-width:767px) {
    .schedule_notice .team_play li {
        display: block;
        padding: 20px;
    }
    .schedule_notice .team_play .type1 {display:inline-block;vertical-align: middle;}
    .schedule_notice .team_play .time1 {
        width: 100px;display:inline-block;vertical-align: middle;margin-bottom: 0;
    }
    .schedule_notice .nav {
        background-color: #fff;
        margin: 30px 0 15px;
    }
    .schedule_notice .team_tag li {
        padding:10px 20px;       
    }
    .schedule_notice .team_tag .name {
        white-space: nowrap;
        font-size: 20px;
        margin-right: 15px;
    }
    .schedule_notice .team_tag .tag {   
        overflow-x: auto;
        white-space: nowrap;
        
    }
    .schedule_notice .team_tag .tag::-webkit-scrollbar {width:0;height:0;}
    .schedule_notice .team_play .team_box{margin-top:20px;}
}

/* 球隊賽程 ed*/

/* 小組賽程 */
.schedule_notice .team_group_title{overflow: hidden;margin-bottom: 30px;font-size: 20px;}
.schedule_notice .team_group_title .title{
    font-size: 24px;
    color: #FF8B17;
    background: url(../images/title_bg3.png) center center no-repeat;
    margin:20px 0;
}
.schedule_notice .team_group_title .list ul{display:flex;align-items:center;justify-content: center;color: #4E483A;}
.schedule_notice .team_group_title .list li{text-align:center;width:100px;overflow:hidden;}
.schedule_notice .team_group_title .list li:last-child{margin-right:0px;}
.schedule_notice .team_group_title .list .img{width:40px;height:25px;border: 1px solid #4E483A;margin:0 auto 5px;}
.schedule_notice .team_group_title .list .txt{font-size: 14px;}
.schedule_notice .team_group li{
    color: #4E483A;
    position: relative;
    display:flex;align-items:center;justify-content:center;
    border-bottom: 1px #f5e6e8 solid;padding:15px 20px;box-sizing: border-box;
}
.schedule_notice .team_group .time{
    font-size: 20px;position:absolute;left:30px;
}
.schedule_notice .team_group .time{width: 130px;font-weight: normal;}
.schedule_notice .team_group .team_box{width:auto;font-weight: normal;}
@media (max-width:1199px) {
    .schedule_notice .team_group_title .title{font-size: 20px;}
}
@media (max-width:1023px) {
    
    .schedule_notice .team_tag .name {
        font-size: 20px;
        margin-right: 20px;
    }
    .schedule_notice .score_box .flex {margin-bottom: 5px;}
    .schedule_notice .team_group li{padding:15px 20px;display:block;}
    .schedule_notice .team_group .time {
        font-size: 16px;width:100px;position: relative;left:auto;margin:0 auto 30px;
    }
    
}
@media (max-width:767px) {
    
    .schedule_notice .team_group_title .list .txt{font-size: 12px;}
    .schedule_notice .team_group li {
        display: block;
        padding: 20px;
    }
    
    .schedule_notice .team_group .time {
        width: 100px;display:inline-block;vertical-align: middle;margin-bottom: 0;
    }
    .schedule_notice .team_group .time {margin-right: 0;}
    .schedule_notice .team_group .time{margin:0 auto;display:block;}    
    .schedule_notice .nav {
        background-color: #fff;
        margin: 30px 0 15px;
    }

    .schedule_notice .team_group_title {margin-bottom:10px;}
    .schedule_notice .team_group .team_box{margin-top:20px;}
}

/* 小組賽程 ed*/

/* 焦點新聞 */
.focus_news{}
.focus_news .tag_bar{margin-bottom:30px;}
.focus_news .tag{overflow: hidden;padding:10px 0 ;margin-bottom:5px;}
.focus_news .tag ul{display: flex;align-items: center;justify-content: center;margin-bottom:30px;}
.focus_news .tag ul:last-child{margin-bottom:0px;}
.focus_news .tag a{
    font-size:20px;
    color:#B87486;padding:6px 24px;
    border: 1px solid #B87486;
    border-radius: 30px;
    margin-right: 20px;
}
.focus_news .tag li.act a,.focus_news .tag a:hover{
    border: 1px solid #F1DDDE;
    background-color:#F1DDDE;
}
.focus_news .list{margin-bottom:15px;}
.focus_news .list ul{display:flex;flex-wrap: wrap;}
.focus_news .list li{
    width: calc((100% - 60px)/4);
    margin-right:20px;margin-bottom:20px;
}
.focus_news .list li:nth-child(4n){margin-right:0px;}
.focus_news .list .img{margin-bottom:5px;height:155px;}
.focus_news .txt {
    color:#000;
    font-size: 20px;
    overflow: hidden;
    height: 50px;
    line-height: 26px;
    margin-bottom: 15px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    display: -webkit-box;
}
.focus_news .time {
    font-weight: normal;
    text-align:right;
    color:#4E483A;
    font-size: 14px;
    overflow: hidden;
}

@media (max-width:1199px) {
    .focus_news .list .img {
        height: 129px;
    }
    .focus_news .list li {
        margin-right:15px;
        width: calc((100% - 50px)/4);
    }

}

@media (max-width:1023px) {
    .focus_news .tag a{padding:5px 15px;}
    .focus_news .list .img {
        height: 91px;
        margin-bottom:5px;
    }
    .focus_news .list .txt {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 5px;
    }
    .focus_news .list li {
        width: calc((100% - 50px)/4);
    }
}

@media (max-width:767px) {
    .focus_news .tag_bar{margin-bottom:10px;}
    .focus_news .tag{
        display: flex;   
        justify-content:flex-start;    
        white-space:nowrap;
        overflow-x:auto;
        margin-bottom: 0;
    }
    .focus_news .tag a{
        font-size:16px;
        color:#B87486;padding:3px 20px;
        margin-right:5px;        
    }
    .focus_news .tag li{padding:5px;}
    .focus_news .tag ul{
        display: flex;   
        justify-content:flex-start;    
        white-space:nowrap;        
        margin-bottom:0;
    }
    .focus_news .tag::-webkit-scrollbar {width:0;height:0;}
    
    .focus_news .list .list_play{background-size:40px;}
    .focus_news .list li {width:100%;}
    .focus_news .list li a{display: flex;}
    .focus_news .list .img {
        width:40%;
        height: 83px;
        margin-right: 15px;
        margin-bottom:0;
    }
    .focus_news .list .txt ,.focus_news .list .img{
        margin-bottom:0;
    }
    .focus_news .list .txt_box{
        display: flex;flex-wrap: wrap;
        justify-content:flex-end;
        align-content:space-between;      
    }
    .focus_news .list .txt {     
        line-height: 22px;
        height:45px;       
    }


    .focus_news .list .txt_box {
        width:60%;
    }
    .focus_news .list ul {
        display:block;
    }
    
    .focus_news .list li:nth-child(2n) {
        margin-right: 0px;
    }
}

@media (max-width:411px) {
    .focus_news .list .img {
        height:74px;
    }
}

@media (max-width:374px) {
    .focus_news .list .img {
        height:71px;
    }
}

@media (max-width:359px) {
    .focus_news .tag a{padding:3px 15px;}
    .focus_news .list .txt {
        font-size: 14px;
        margin-bottom: 5px;
    }
    .focus_news .list .img {
        height:62px;
    }
    .focus_news .list .time {
        font-size: 12px;
    }
}
/* 焦點新聞 ed*/

/* 跳頁選單 */
.page_html{
    background-color:#fff;display: flex;align-items: center;justify-content: center;
    padding:10px;color:#4E483A;font-size:14px;font-weight: normal;
}
.page_html .num{padding:0 10px;border-radius:5px;border:1px #4E483A solid;margin-right:5px;}
.page_html .limit span{margin-right:2px;}
.page_html .limit .txt{}
.page_html .arrawL,.page_html .arrawR{line-height:0;width:20px;height:20px;}
.page_html .arrawL{margin-right:10px;}
.page_html .arrawR{margin-left:10px;}
/* 跳頁選單 ed*/


/* 影音專區 */
.playlist{margin:40px 0 0;}
.playlist .video{width:1060px;margin:0 auto 30px;}
.playlist .video .list_play{background-size: 150px;}
.playlist .video .play{bottom:20px;right:20px;}
.playlist .video .img{margin-bottom: 10px;height:560px;}
.playlist .video .txt{
    overflow: hidden;
    white-space:nowrap;
    font-size:26px;
    text-overflow: ellipsis;
}
@media (max-width:1199px) {
    .playlist .video .txt{
        font-size:24px;
    }
    .playlist .video .list_play{background-size:100px;}
    .playlist .video{width:100%;margin:0 auto 30px;}
    .playlist .video .img{height:551px;}
}
@media (max-width:1023px) { 
    .playlist .video .img{height:410px;}
}
@media (max-width:767px) {
    .playlist .video .play{bottom:10px;right:10px;}
    .playlist .video .txt{
        font-size:20px;
    }
    .playlist .video .list_play{background-size:80px;}
    .playlist .video .img{height:216px;margin-bottom: 5px;}
}
@media (max-width:411px) {
    .playlist .video .list_play{background-size:60px;}
    .playlist .video .img{height:194px;}
}
@media (max-width:374px) {
    .playlist .video .img{height:186px;}
}
@media (max-width:359px) {
    .playlist .video .img{height:163px;}
}
.playlist .play_more{width:100%;overflow: hidden;}
.playlist .play_more .title{margin:0 auto 30px;display:block;text-align: center;}

.play_more .list{}
.play_more .list ul{display:flex;flex-wrap: wrap;}
.play_more .list li{
    width: calc((100% - 60px)/4);
    margin-right:20px;
}
.play_more .list li:nth-child(4n){margin-right:0px;}
.play_more .list .img{margin-bottom:5px;height:155px;}
.play_more .txt {
    color:#000;
    font-size: 20px;
    overflow: hidden;
    height: 50px;
    line-height: 26px;
    margin-bottom: 15px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    display: -webkit-box;
}

@media (max-width:1199px) {
    .play_more .list .img {
        height: 129px;
    }
    .play_more .list li {
        margin-right:15px;
        width: calc((100% - 50px)/4);
    }
}

@media (max-width:1023px) {
    .play_more .list .img {
        height: 91px;
        margin-bottom:5px;
    }
    .play_more .list .txt {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 5px;
    }
    .play_more .list li {
        width: calc((100% - 50px)/4);
    }
}

@media (max-width:767px) {
    .play_more  .list .play{bottom:10px;right:10px;}
    .play_more  .list .img {
        height: 104px;
        margin-bottom:5px;
    }
    .play_more  .list li {
        width: calc((100% - 15px)/2);
        margin-bottom: 20px;
    }
    .play_more  .list li:nth-child(2n) {
        margin-right: 0px;
    }
    
}

@media (max-width:411px) {
    .play_more  .list .img {
        height: 93px;
    }
}

@media (max-width:374px) {
    .play_more  .list .img {
        height:89px;
    }
}

@media (max-width:359px) {
    .play_more  .list .img {
        height:77px;
    }

}

/* 影音專區 ed*/
/* 內文區塊ed */
/*main ed*/
/*footer*/
footer{
    margin-top:60px;
    width:100%;padding:20px 0;background-color:#461232;overflow:hidden;
    color:#fff;text-align:center;font-weight: normal;
}
footer small{}
footer .logo_box{margin-bottom:5px;}
footer .logo_box li{width:30px;display:inline-block;vertical-align:top;padding-top:5px;margin-right:5px;}
footer .logo_box li:first-child{width:80px;padding-top:0;margin-right:0;}

@media (max-width:359px) {
    footer small{font-size:12px!important;} 
}
/*footer ed*/

/* 各組戰績頁 */
.record_section{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}
.record_section .record_box .record_head{
    justify-content: space-between;
    background-color: #E8E6D9;
    padding: 17px 15px 17px 17px;

}
.record_section .record_box .record_head p{   
    color:#FF8B17;
    font-size: 24px;

}
.record_section .record_box{
    width: 590px;
    height: 392px;
    margin-bottom: 16px;
}
.record_section .record_box:nth-child(2n){
margin-left: 20px;
}
.record_section .record_box .record_head .num_box .box{
    width: 50px;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    color:#4E483A;
}
.record_section .record_box .record_head .num_box .c1{
    color:#881735;
    font-weight:bolder;
}
.record_section .record_box .list .list_L{
display: flex;
align-items: center;
}
.record_section .record_box .list .img{
    width: 80px;

}
.record_section .record_box .list ul li{
 display:flex ;
 justify-content: space-between;
 background-color: #fff;
 border-bottom: solid 1px #F1DDDE;
}
.record_section .record_box .list ul li{
    padding: 15px;
}
.record_section .record_box .list ul li .country_name{
    color:#4E483A;
    font-weight: 500;
    width: 122px;
    text-align: center;
    margin: 0 16px;
}
.record_section .record_box .list ul li .num_box{
    display:flex ;
    align-items: center;
    color:#220A26;
}
.record_section .record_box .list ul li .num_box .box{
width: 50px;
text-align: center;
font-weight: 400;
}
.record_section .record_box .list ul li .num_box .c1{
    color:#881735;
    font-weight:bolder;
}

@media (max-width:1199px) {
    .record_section .record_box{
        width: 480px;
        height: auto;
    }
    .record_section .record_box .list .img{
        width: 45px;
    
    }
    .record_section .record_box .list ul li .country_name{
        font-weight: 500;
        width:90px;
        margin: 0 8px;
        font-size: 15px;
    }
    .record_section .record_box .list ul li .num_box .box{
        font-size: 15px;
        }
 }
    @media (max-width:1023px) {
        .record_section .record_box{
            height: auto;
            margin: 0 auto 16px  auto;
        }
        .record_section .record_box:nth-child(2n){
            margin: 0 auto 16px  auto;
            }
            .record_section .record_box .record_head p{   
                font-size: 20px;
            }
        .record_section .record_box .list ul li .num_box .c1{
            font-weight:bolder;
        }
    }
    @media (max-width:767px) {
    .record_section .record_box .record_head p{ 
        font-size: 20px;
    }
    .record_section .record_box .record_head .num_box .box{
        width: 40px;
        font-size: 16px;
    }
    .record_section .record_box{
        width: 100%;
        height: auto;
    }
    .record_section .record_box .list .img{
        display: none;
    }
    .record_section .record_box .list ul li .country_name{
        text-align: left;
        margin: 0;
    }
    .record_section .record_box .list ul li .num_box .box{
        width: 40px;
    }
    .record_section .record_box .list ul li .num_box .c1{
            font-weight:bolder;
    }
    }
    @media (max-width:414px) {
    }
    @media (max-width:390px) {
        .record_section .record_box .record_head{
            padding: 17px 6px 17px 6px;
        
        }
        .record_section .record_box .list ul li{
            padding: 15px 6px;
        }
            .record_section .record_box .list ul li .num_box .c1{
                font-weight:bolder;
            }

    }
    @media (max-width:372px) {
        .record_section .record_box .record_head .num_box .box{
            width: 34px;
            font-size: 14px;
        }
        .record_section .record_box .list ul li .country_name{
            font-size: 12px;
            width: auto;
        }
        .record_section .record_box .list ul li .num_box .box{
            width: 34px;
            font-size: 12px;
            }
    }
/* 各組戰績頁  end*/

/* 精彩瞬間頁 */
.article_wonderful{
 overflow: hidden;
 width: 1200px;
 margin: 40px auto 0px auto;

}
/*瀑布*/ 
.pubu {
    display: block;
    background: white;
    transition: all 220ms;
    margin: 0 0 24px 0;
  }
  .pubu:hover {
    transform: translateY(-5px);
    transition: all 220ms;
  }
  .pubu > img {
    display: block;
    width: 100%;

  }
  .pubu .img {
   line-height: 0 ;
   /* height: 222px; */
   /* height: 217px; */
  }
  .pubu .txt_box {
    background-color: #F7F2F7;
    padding: 8px 0px;
  }
  .pubu h2 {      
    font-size: 20px;
    /* font-weight: 500; */
    text-transform: uppercase;
    background-color:transparent;
    /* color:#fff; */
    margin-bottom:10px;
    line-height: 27px;
    /* overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis; */
    display: -webkit-box;
  }
  .pubu .txt_box .article_time {
    text-align: right;
    color: #4E483A;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 400;
  }
  
  .wall {
    display: block;
    position: relative;
  }
  .wall-column {
    display: block;
    position: relative;
    /* width: 33.3%; */
    width: calc((100% - 45px) / 3);
    float: left;
    box-sizing: border-box;
    /* padding: 0 12px; */

    margin-right: 22.5px;
  }
  .wall-column:nth-child(3n) {
    margin-right: 0px;
  }
  @media (max-width:1199px) {
    .article_wonderful{
        width: 980px;
        margin: 40px auto 0px auto;
       
       }
    .wall-column {
        width: calc((980px - 45px) / 3);
        /* width: 26%; */
        /* width: 33.3%; */
        /* width: 326.34px; */
        /* padding: 0 12px; */
        /* margin-right:0; */
      }
      .wall-column:nth-child(3n) {
        /* margin-right: 0px; */
      }
      .pubu .img {
        /* height: 175px; */
       }
  }
  @media (max-width: 1023px) {
    .article_wonderful{
        width: 728px;
        margin: 40px auto 0px auto;
       
       }
    .wall-column {
        width: calc((100% - 22.5px) / 2);
      /* width: 50%; */
      margin-right: 22.5px;
    }
    .pubu .img {
        /* height: 192px; */
       }
    .wall-column:nth-child(2n) {
        margin-right: 0px;
      }

  }
  @media (max-width: 767px) {
    /*.wall-column {
      width: auto;
      float: none;
      padding: 0 ;
    }*/
    .article_wonderful{
        width:414px;
        /* margin: 0 auto; */
        margin: 40px auto 0px auto;
        /* padding:0 15px; */
        /* padding:0 15px; */
        /* padding-right: 15px; */
    }
    .pubu .img {
        /* height: 104px; */
       }
    .wall-column {
        width: calc((414px - 30px));/*加上扣除frame_box的左右15px*2*/
      /* width: 50%; */
      margin-right: 0px;
    }
    .wall-column:nth-child(2n) {
        margin-right: 0px;
      }
      .pubu h2 {      
        font-size: 16px;
        line-height: 20px;
    }
  }
  
  @media (max-width:444px) {
    .article_wonderful{
        /* width:300px; */
        /* width: 270px; */
        width: 100%;
        margin: 40px auto 0px auto;
        /* padding: 0 15px; */
    }
    .wall-column {
         width: calc((100%-30px));
      /* margin-right: 8px; */
    }
    .pubu .img {
        /* height: 74px; */
       }
    .wall-column:nth-child(2n) {
        margin-right: 0px;
      }
  }
  
/*瀑布ed*/
/*圖集*/ 
.pic_light_box::-webkit-scrollbar {width: 1px;}
.black_background_box{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .85);
    /* position: fixed; */
    z-index:101;
    top:0;
    left: 0;
    overflow-y:auto;
}
.pic_light_box{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .85);
    position: fixed;
    z-index:102;
    top:0;
    left: 0;
    overflow-y:auto;
}
.pic_light_box .box{
    width:100%;
    /* height: 100vh; */
    padding:0;
    position:relative;
    margin-top:40px;
    box-sizing: border-box;
    display:fixed;
    align-items: center;
    justify-content: center;
}
.pic_light_box .xx{
    width:50px;
    height: 50px;
    position: absolute;
    /* right:200px; */
    /* right:13%; */
    right:5%;
    top:0px;
    cursor:pointer;
    z-index:102;
}
.pic_light_box .img{}
.pic_light_box .img img{
    /* width: 663.63px;
    height: 373px; */
}
.pic_light_box .list{}
.pic_light_box .list ul{}
.pic_light_box .list ul li{
    height: 86vh;
}
.pic_light_box .list .img{
    width:100%;
    /* width: 663.63px;
    height: 373px; */
    width: 640px;
    height: 359.849px;
    /* height:75vh; */
    display:flex;
    justify-content: center;
    margin:0px auto 10px;
}
.pic_light_box .list .img img{width:auto;max-width:100%;}
.pic_light_box .list .txt_box{
    color: #fff;
    /* position: relative; */
    margin: 15px 15px 30px;
    /* font-size:28px; */
    text-align: center;
    
    display: flex;
    justify-content: center;

}
.pic_light_box .list .txt_box .txt_content{
 /* display: flex; */
 /* width: 663.63px; */
 width: 640px;
}
.pic_light_box .list .txt_box .num{
    font-size: 16px;
    font-weight: normal;
}
.pic_light_box .list .txt_box h2{
    width:100%;
    margin-bottom:10px;
    font-size:28px;
    font-size:22px;
    text-align: left;
    /* overflow: hidden;   
    -webkit-line-clamp: 2; */
     /* -webkit-box-orient: vertical; */
    /*text-overflow: ellipsis; */
    display: -webkit-box;
}
.pic_light_box .list .txt_box h3{
    display:block;
    margin-bottom:10px;
    font-size:20px;
    font-size:14px;
    color: #E8E6D9;
    font-weight: normal;
    text-align: left;
}
.pic_light_box .list .txt_box .article_time{
 text-align: right;
 font-size: 16px;
 color: #E8E6D9;
 font-weight: normal;
}
/* .pic_light_box .list .txt_box .num{position:absolute;right:0;} */

/*外掛*/  
.pic_light_box .owl-theme .owl-dots {display: none!important;}
.pic_light_box .owl-next,.pic_light_box .owl-prev{   
   /* width: 35px !important;
    height: 35px !important;
    position: absolute;
    background-repeat: no-repeat !important;
    background-color: rgba(0,0,0,0) !important;
    background-size: 100% !important;
    top:40% !important;
    right:50% !important;*/
    width: 35px !important;
    height: 35px !important;
    /* position: absolute; */
    background-repeat: no-repeat !important;
    background-color: rgba(0,0,0,0) !important;
    position: block;
    z-index: 103;
    margin-right: 25px!important;


    /* position: absolute; */
    /* top: 96%!important; */
}
	
.pic_light_box .owl-next{
    /* right:46%!important;
    right:45.5%!important; */
    background-image: url(../images/箭頭右.svg) !important;
}
.pic_light_box .owl-prev{
    /* left:47%!important; 
    left:47.5%!important;  */
    background-image: url(../images/箭頭左.svg) !important;
}
/*外掛*/
@media (max-width: 767px) {
    .pic_light_box .xx{
        width: 24px;
        height: 24px;
        right:5%;
        top:-25px;
    }
    .pic_light_box .list .txt_box h2{
        font-size: 20px;
    }
    .pic_light_box .list .txt_box h3{
        /* font-size: 16px; */
        font-size: 14px;
     
    }
    .pic_light_box .list .txt_box .article_time{
        /* font-size: 14px; */
        font-size: 12px;
    }
}
/* @media (max-width: 414px) { */
@media (max-width: 688px) {
    .pic_light_box .list ul li{
        /* height: 86vh; */
        /* padding:0 15px; */
        padding:0 49px;
    }

    .pic_light_box .list .img{
        width:100%;
        height:auto;
         display:block;
         /* padding-top:60px; */
         margin:0 auto 10px;
         /* margin:0 10px; */
         /* padding:0 15px; */
    }
    .pic_light_box .list .txt_box .num{
        /* position:absolute;
        bottom:-10px; */
    }
    .pic_light_box .list .img img{
        width:100%;
        max-width:100%;
    }   
    .pic_light_box .list .txt_box .txt_content{

    }
    .pic_light_box .owl-next,.pic_light_box .owl-prev{
        /* width: 35px !important;
        height: 35px !important; */
        /* top:30% !important;  */
    }	 
}

/*圖集ed*/

/* 精彩瞬間頁  end*/