html,
body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: relative;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 微軟儷黑體, 微軟正黑體, Arial, Helvetica, Verdana, \5FAE\8EDF\6B63\9ED1\9AD4, sans-serif, 微軟儷黑體, 微軟正黑體, Arial, Helvetica, Myriad Pro, Microsoft, bauerbodonistd-roman, Century Gothic, "Asap", Futura, "Lucida Grande", Geneva, Helvetica, "sourcehansans-tc-normal", "sans-serif", Tahoma;
    background-color: #fff;
    font-size: 18px;   
}
p,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
a:link,
a:visited,
a:active {
    color: #000;
    text-decoration: none;
}
a {
    transition:0.3s;
}
a:hover {
    transition:0.3s;
    text-decoration: none;
}
img {
    width: 100%;
    border: 0;
}
.img {
    position: relative;
    line-height: 20px;
    overflow: hidden;
}
.img img {
    width: 100%;
}
a:hover .img_mask {
    background-color: rgba(0, 0, 0, 0.3);
}

input::-ms-clear {
    display: none;
}
a:hover {
    color: #e62320;
}
/*去除input默認樣式*/
textarea,
text,
select,
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px #ff9398 solid;
}
/*去除 Chrome focus 時外框*/
input:focus {
    outline: 0;
}
textarea:focus {
    outline: 0;
}
select:focus {
    outline: 0;
}
html::-webkit-scrollbar {
    width: 3px;
    background: #000;
}
html::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 0;
    background: #fff;
}
html::-webkit-scrollbar-thumb {
    background: #A20013;
}
h1,h2,h3{padding:0;margin: 0;}

/*list play*/
.list_play {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../images/img_vedio_player_midium_M.svg) no-repeat center center;
    background-size:40px;
}
@media (max-width:1023px) {
    .list_play {
        background: url(../images/img_vedio_player_midium_M.svg) no-repeat center center;
        background-size:30px;
    }
}
/*list play ed*/
/*文字圖片效果*/

.overlay-color {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    line-height: 0;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0);
    transition: 0.3s linear;
}

.img:hover .overlay-color,
a:hover .overlay-color {
    background: rgba(0, 0, 0, .3);
    z-index: 1;
}


/*文字圖片效果 ed*/

/* more*/
.more_box a {
    background: url(../images/menu-arraw_r.svg) no-repeat right;
    padding: 5px 25px 5px 10px;
    background-size:30px;
    display: block;
    float: right;
    font-size: 14px;
    font-weight : bold;
    background-color: #027DF1;
    color:#fff;
}
.more_box a:hover {
}
/* more ed*/
/* pc & mo */
.pc{display: block;}
.mo{display: none;}
@media (max-width:767px) {
.pc{display: none;}
.mo{display: block;}
}
/* pc & mo ed*/
/*--gotoTop--*/

#back {
    text-align: center;
    position: fixed;
    z-index: 2;
    right: 20px;
    bottom: 20px;
    transition: 0.5s;
    display:block;
    cursor: pointer;
    padding: 0;
}

#back-img1 {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    display: block;
}

#back-img1 img {
    width: 100%;
}
/*--gotoTop end--*/
/*外框*/
.frame_box {
    width: 1200px;
    margin: 0 auto;
    padding:0 20px;
}
@media (max-width:1199px) {
.frame_box {
    width: 980px;
    margin: 0 auto;
}
}
@media (max-width:1023px) {
.frame_box {
    width:728px;
    margin: 0 auto;
}
}
@media (max-width:767px) {
.frame_box {
    width:414px;
    margin: 0 auto;
}
}
@media (max-width:414px) {
    .frame_box {
        width:100%;
        margin: 0 auto;
    }
    }
/*外框*/
.container{}
.flex{display:flex;align-items: center;}
/*header*/
header{}
.header{background-color:#461232;padding:15px 0;}
.header .frame_box.flex{justify-content:space-between;}
.header .logo{width:90px;height:47px;}
.header .menu ul{}
.header .menu li{margin-right:20px;}
.header .menu li a{color: #B87486;font-size:20px;font-weight: bold;}
.header .menu li a:hover,.header .menu li.act a{color: #E8E6D9;}
.header .menu li:last-child{margin-right:0;}
.header .community ul{}
.header .community li{width:35px;height:35px;margin-right:15px;}
.header .community li:last-child{margin-right:0;}
/*header ed*/
/*main*/
/*main ed*/
/*footer*/
footer{width:100%;padding:20px 0;background-color:#461232;overflow:hidden;color:#fff;text-align:center;}
footer small{}
footer .logo_box{margin-bottom:5px;}
footer .logo_box li{width:30px;display:inline-block;vertical-align:top;padding-top:5px;margin-right:5px;}
footer .logo_box li:first-child{width:80px;padding-top:0;margin-right:0;}

@media (max-width:359px) {
    footer small{font-size:12px!important;;} 
}
/*footer ed*/